* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(back.webp) no-repeat;
    background-size: cover;
    font-family: 'Century Gothic', sans-serif;
}

.box {
    width: 500px;
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;

}
.boximg {
    border-radius: 50%;
}
.boxh1 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}
.boxh2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
    
}

.boxp {
    text-align: justify;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px;
}

h2 {
    color: #ffffff;
}

footer {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.publicacion {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.publicacion:hover {
    background-color: #f9f9f9;
}

